@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.rotate-360 {
  transition: transform 0.8s ease-in-out;
}

.rotate-360.active {
  transform: rotate(-360deg);
}




.bg{
  background-color: rgb(241, 255, 255);
}

.alt-bg{
  background-color: rgb(225, 251, 251);
}

.home-bg {
  background: linear-gradient(to top right,rgb(171, 242, 242), rgb(241, 255, 255),rgb(203, 255, 255),rgb(243, 255, 255),rgb(181, 255, 255),rgb(234, 255, 255), rgb(221, 255, 255));
}

.gradient-bg {
  background: linear-gradient(to bottom left,rgb(171, 242, 242), rgb(241, 255, 255),rgb(203, 255, 255),rgb(243, 255, 255),rgb(243, 255, 255),rgb(247, 255, 255), rgb(173, 255, 255));
}
